BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AccessModifierOffset: -4
ColumnLimit: 100
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpacesInBraces: false
SpacesInContainerLiterals: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
BinPackConstructorInitializers: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
